<html>
  <head>
    <title>Register Page</title>
  </head>
  <body>
    <form action='' method='POST'>
      아이디<br>
      <input type='text' name='ID' size='40'><br>
      패스워드<br>
      <input type='password' name='PW' size='40'><br>
      닉네임<br>
      <input type='text' name='NICK' size='40'><br>
      이메일<br>
      <input type='text' name='Email' size='40'><br>
      전화번호<br>
      <input type='number' name='num' size='40'><br>
      <input type='submit' value='가입'>
      <a href='/'><input type='button' value='취소'></a>
    </form>
  </body>
</html>

